.plantsviewpage{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}
.flip-card {
    background-color: transparent;
    width: 260px;
    height: 330px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;

  }
  
  .imageflip{
    border-radius: 1rem;
    height: 100%;

  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
       bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
  }


 /* From Uiverse.io by ZAKARIAE48CHELLE */ 
.plantview-Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 15px;
  background-color: black;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  transition-duration: 0.3s;
  margin: 5px;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 15px;
  fill: white;
  transition-duration: 0.3s;
}

.plantview-Btn:hover {
  color: transparent;
}

.plantview-Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.plantview-Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px white;
}

.plantview-buttons{
  display: flex;
  justify-content: center;
}
.editlink{
  text-decoration: none;
}

.paradescription{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 9; 
          line-clamp: 9;
  -webkit-box-orient: vertical;
}