.homepage{
display: flex;
text-align: center;
}
.firstpage{
    background-image: url(../../../public/images/homeplant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    padding-top: 60px;
    text-shadow: 4px 4px 4px rgb(11, 11, 11);
    color: white;
}
@media(max-width:700px){
.firstpage{
    background-size: cover;
}
}

/* From Uiverse.io by AqFox */ 
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size: 15px;
}

.btn-2 {
  background: #004dff;
  background: linear-gradient(0deg, #397B56 0%, #397B56 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}




.secondimage{
  width: 300px;
}

.second2ndcol{
  text-align: center;
}

.secondrow{
  padding: 30px;
}
.second1stcol{
  padding: 20px;
}
.second3rdcol{
  padding: 20px;
}




.third{
    padding-top: 30px;
    display: flex;

}



.textwidth{
    text-align: center;
}

.thirdbutton{
  border: none;
  padding: 10px;
}
/* From Uiverse.io by alexmaracinaru */ 
.cta {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}
.thirdviewmore{
  margin: auto;
  padding-top: 60px;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.thirdimgcol{
  text-align: center;
}

@media(max-width:721px){
  .thirdtext{
    width: 100%;
  }
}



.fourth{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.fourthh1{
    padding: 40px;
}


.homefourth{
    padding-top: 100px;
    padding-bottom: 30px;
}


.homecard {
    position: relative;
    width: 300px;
    height: 200px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .homecard svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .homecard:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .homecard__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .homecard:hover .homecard__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .homecard__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .homecard__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
            line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .homecard:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
  

  /* From Uiverse.io by vinodjangid07 */ 
.read-Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .read-Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .read-Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
  }
  /* hover effect button's text */
  .read-Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .read-Btn:active {
    transform: translate(2px ,2px);
  }

  .arrow{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    padding: 20px;
  }

  .fifth{
    padding: 40px;
  }

 .indoorrow{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 @media(max-width:630px){
  .indoorrow{
    display: flex;
    justify-content: center;
  }
}



 .sixth{
  padding: 40px;
}

.outdoorrow{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 20px;
text-align: center;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
@media(max-width:630px){
  .outdoorrow{
    display: flex;
    justify-content: center;
  }
}