.plantsedit{
    width: 50%;
}
.plantseditpage{
    display: flex;
    justify-content: center;
    background-image: url(../../../public/images/addplantbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    width: 100%;
}
.plantsedith1{
    text-align: center;
}
.plantseditbutton{
    text-align: center;
    color: white;
}

.plantseditinput{
    opacity: 50%;

}
.plantseditforms{
    font-weight: bold;
    font-size: large;
}
.buttonplantsedit{
    padding: 5px 15px 5px 15px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: large;
    color: white;
    background-color: green;
}
